body{
    height: 100vh;
    background-color: #e3516e;
    display: grid;
    place-items: center;
}
main{
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns:repeat(5, 80px);

}
.square-yellow , .square-invisibale{
    height: 80px;
    width: 80px;
    background-color: #fade8b;

}
.square-invisibale{
   background-color:#e3516e ;
   display: grid;
   place-items: center;
}
.yellow-dot{
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 20px solid #fade8b;
    
    


}